---
import "@fontsource/rye";
import CardService from "@src/components/CardService.component.astro";

interface Item {
  title: string;
  img: string;
  description: string;
}

interface Props {
  title1: string;
  title2: string;
  items: Item[];
}

const { items, title1, title2 } = Astro.props as Props;
---

<section id="sectionNuestrosServicios-home" class="py-16 bg-app-terciary">
  <div class="container mx-auto px-4">
    <!-- Títulos de la sección -->
    <div class="text-center mb-12">
      <h2
        class="text-2xl uppercase tracking-widest text-app-primary rye-font mb-2"
      >
        {title1}
      </h2>
      <h3 class="text-3xl md:text-5xl font-bold text-app-primary italic">
        {title2}
      </h3>
    </div>

    <!-- Grid de Servicios -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        items.map((item) => (
            <CardService
              title={item.title}
              description={item.description}
              img={item.img}
            />
          ))
      }
    </div>

    <!-- Botón Ver más Servicios -->
    <div class="text-center mt-12">
      <a
        href="service/nuestros-servicios"
        class="border-2 border-app-secondary bg-app-secondary text-app-terciary font-bold py-3 px-6 rounded-md hover:bg-app-terciary hover:text-app-secondary hover:border-2 hover:border-app-secondary transition duration-300"
        >Ver todos los servicios</a
      >
    </div>
  </div>
</section>

<style>
  .rye-font {
    font-family: "Rye", system-ui;
  }
</style>
